@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-pretendard);
  --font-logo: var(--font-poppins);
  --shadow-focus-ring: 0 0 0 2px var(--focus-color, currentColor);
}

@layer base {
  :root {
    --focus-color: var(--color-blue-600);
  }
  .dark {
    --focus-color: var(--color-blue-400);
  }
}

@layer utilities {
  .bg-gradient {
    background-image: conic-gradient(
      from 0deg at 50% 50%,
      #ff5d00 0deg,
      #ff000c 120deg,
      #7300ff 240deg,
      #ff5d00 360deg,
      #ff000c 480deg
    );
  }

  .bg-grid {
    @apply [--bg-grid-color:var(--color-gray-600)] dark:[--bg-grid-color:var(--color-gray-400)];
    background-color: transparent;
    background-size: 4rem 4rem;
    background-image: linear-gradient(
        color-mix(in oklab, var(--bg-grid-color) 5%, transparent) 1px,
        transparent 1px
      ),
      linear-gradient(
        to right,
        color-mix(in oklab, var(--bg-grid-color) 5%, transparent) 1px,
        transparent 1px
      );
  }

  .logo-animation {
    mask-image: linear-gradient(60deg, black 25%, rgba(0, 0, 0, 0.25) 50%, black 75%);
    mask-size: 400%;
    mask-position: 0%;
    &:hover {
      mask-position: 100%;
      transition: mask-position 1s ease;
    }
  }

  .focus-ring {
    @apply ring-1 ring-blue-600 dark:ring-blue-400;
  }
}
