@custom-variant dark (&:where(.dark, .dark *));

:root,
.light {
  --gray1: #fcfcfc;
  --gray2: #f9f9f9;
  --gray3: #f0f0f0;
  --gray4: #e8e8e8;
  --gray5: #e0e0e0;
  --gray6: #d9d9d9;
  --gray7: #cecece;
  --gray8: #bbbbbb;
  --gray9: #8d8d8d;
  --gray10: #838383;
  --gray11: #646464;
  --gray12: #202020;
  --blue1: #fbfdff;
  --blue2: #f4faff;
  --blue3: #e6f4fe;
  --blue4: #d5efff;
  --blue5: #c2e5ff;
  --blue6: #acd8fc;
  --blue7: #8ec8f6;
  --blue8: #5eb1ef;
  --blue9: #0090ff;
  --blue10: #0588f0;
  --blue11: #0d74ce;
  --blue12: #113264;
  --red1: #fffcfc;
  --red2: #fff7f7;
  --red3: #feebec;
  --red4: #ffdbdc;
  --red5: #ffcdce;
  --red6: #fdbdbe;
  --red7: #f4a9aa;
  --red8: #eb8e90;
  --red9: #e5484d;
  --red10: #dc3e42;
  --red11: #ce2c31;
  --red12: #641723;
  --amber1: #fefdfb;
  --amber2: #fefbe9;
  --amber3: #fff7c2;
  --amber4: #ffee9c;
  --amber5: #fbe577;
  --amber6: #f3d673;
  --amber7: #e9c162;
  --amber8: #e2a336;
  --amber9: #ffc53d;
  --amber10: #ffba18;
  --amber11: #ab6400;
  --amber12: #4f3422;
  --green1: #fbfefc;
  --green2: #f4fbf6;
  --green3: #e6f6eb;
  --green4: #d6f1df;
  --green5: #c4e8d1;
  --green6: #adddc0;
  --green7: #8eceaa;
  --green8: #5bb98b;
  --green9: #30a46c;
  --green10: #2b9a66;
  --green11: #218358;
  --green12: #193b2d;
  --teal1: #fafefd;
  --teal2: #f3fbf9;
  --teal3: #e0f8f3;
  --teal4: #ccf3ea;
  --teal5: #b8eae0;
  --teal6: #a1ded2;
  --teal7: #83cdc1;
  --teal8: #53b9ab;
  --teal9: #12a594;
  --teal10: #0d9b8a;
  --teal11: #008573;
  --teal12: #0d3d38;
  --purple1: #fefcfe;
  --purple2: #fbf7fe;
  --purple3: #f7edfe;
  --purple4: #f2e2fc;
  --purple5: #ead5f9;
  --purple6: #e0c4f4;
  --purple7: #d1afec;
  --purple8: #be93e4;
  --purple9: #8e4ec6;
  --purple10: #8347b9;
  --purple11: #8145b5;
  --purple12: #402060;
  --pink1: #fffcfe;
  --pink2: #fef7fb;
  --pink3: #fee9f5;
  --pink4: #fbdcef;
  --pink5: #f6cee7;
  --pink6: #efbfdd;
  --pink7: #e7acd0;
  --pink8: #dd93c2;
  --pink9: #d6409f;
  --pink10: #cf3897;
  --pink11: #c2298a;
  --pink12: #651249;
}

.dark {
  --gray1: #111111;
  --gray2: #191919;
  --gray3: #222222;
  --gray4: #2a2a2a;
  --gray5: #313131;
  --gray6: #3a3a3a;
  --gray7: #484848;
  --gray8: #606060;
  --gray9: #6e6e6e;
  --gray10: #7b7b7b;
  --gray11: #b4b4b4;
  --gray12: #eeeeee;
  --blue1: #0d1520;
  --blue2: #111927;
  --blue3: #0d2847;
  --blue4: #003362;
  --blue5: #004074;
  --blue6: #104d87;
  --blue7: #205d9e;
  --blue8: #2870bd;
  --blue9: #0090ff;
  --blue10: #3b9eff;
  --blue11: #70b8ff;
  --blue12: #c2e6ff;
  --red1: #191111;
  --red2: #201314;
  --red3: #3b1219;
  --red4: #500f1c;
  --red5: #611623;
  --red6: #72232d;
  --red7: #8c333a;
  --red8: #b54548;
  --red9: #e5484d;
  --red10: #ec5d5e;
  --red11: #ff9592;
  --red12: #ffd1d9;
  --amber1: #16120c;
  --amber2: #1d180f;
  --amber3: #302008;
  --amber4: #3f2700;
  --amber5: #4d3000;
  --amber6: #5c3d05;
  --amber7: #714f19;
  --amber8: #8f6424;
  --amber9: #ffc53d;
  --amber10: #ffd60a;
  --amber11: #ffca16;
  --amber12: #ffe7b3;
  --green1: #0e1512;
  --green2: #121b17;
  --green3: #132d21;
  --green4: #113b29;
  --green5: #174933;
  --green6: #20573e;
  --green7: #28684a;
  --green8: #2f7c57;
  --green9: #30a46c;
  --green10: #33b074;
  --green11: #3dd68c;
  --green12: #b1f1cb;
  --teal1: #0d1514;
  --teal2: #111c1b;
  --teal3: #0d2d2a;
  --teal4: #023b37;
  --teal5: #084843;
  --teal6: #145750;
  --teal7: #1c6961;
  --teal8: #207e73;
  --teal9: #12a594;
  --teal10: #0eb39e;
  --teal11: #0bd8b6;
  --teal12: #adf0dd;
  --purple1: #18111b;
  --purple2: #1e1523;
  --purple3: #301c3b;
  --purple4: #3d224e;
  --purple5: #48295c;
  --purple6: #54346b;
  --purple7: #664282;
  --purple8: #8457aa;
  --purple9: #8e4ec6;
  --purple10: #9a5cd0;
  --purple11: #d19dff;
  --purple12: #ecd9fa;
  --pink1: #191117;
  --pink2: #21121d;
  --pink3: #37172f;
  --pink4: #4b143d;
  --pink5: #591c47;
  --pink6: #692955;
  --pink7: #833869;
  --pink8: #a84885;
  --pink9: #d6409f;
  --pink10: #de51a8;
  --pink11: #ff8dcc;
  --pink12: #fdd1ea;
}

@theme inline {
  --color-*: initial;
  --color-black: #000;
  --color-white: #fff;
  --color-gray-1: var(--gray1);
  --color-gray-2: var(--gray2);
  --color-gray-3: var(--gray3);
  --color-gray-4: var(--gray4);
  --color-gray-5: var(--gray5);
  --color-gray-6: var(--gray6);
  --color-gray-7: var(--gray7);
  --color-gray-8: var(--gray8);
  --color-gray-9: var(--gray9);
  --color-gray-10: var(--gray10);
  --color-gray-11: var(--gray11);
  --color-gray-12: var(--gray12);
  --color-blue-1: var(--blue1);
  --color-blue-2: var(--blue2);
  --color-blue-3: var(--blue3);
  --color-blue-4: var(--blue4);
  --color-blue-5: var(--blue5);
  --color-blue-6: var(--blue6);
  --color-blue-7: var(--blue7);
  --color-blue-8: var(--blue8);
  --color-blue-9: var(--blue9);
  --color-blue-10: var(--blue10);
  --color-blue-11: var(--blue11);
  --color-blue-12: var(--blue12);
  --color-red-1: var(--red1);
  --color-red-2: var(--red2);
  --color-red-3: var(--red3);
  --color-red-4: var(--red4);
  --color-red-5: var(--red5);
  --color-red-6: var(--red6);
  --color-red-7: var(--red7);
  --color-red-8: var(--red8);
  --color-red-9: var(--red9);
  --color-red-10: var(--red10);
  --color-red-11: var(--red11);
  --color-red-12: var(--red12);
  --color-amber-1: var(--amber1);
  --color-amber-2: var(--amber2);
  --color-amber-3: var(--amber3);
  --color-amber-4: var(--amber4);
  --color-amber-5: var(--amber5);
  --color-amber-6: var(--amber6);
  --color-amber-7: var(--amber7);
  --color-amber-8: var(--amber8);
  --color-amber-9: var(--amber9);
  --color-amber-10: var(--amber10);
  --color-amber-11: var(--amber11);
  --color-amber-12: var(--amber12);
  --color-green-1: var(--green1);
  --color-green-2: var(--green2);
  --color-green-3: var(--green3);
  --color-green-4: var(--green4);
  --color-green-5: var(--green5);
  --color-green-6: var(--green6);
  --color-green-7: var(--green7);
  --color-green-8: var(--green8);
  --color-green-9: var(--green9);
  --color-green-10: var(--green10);
  --color-green-11: var(--green11);
  --color-green-12: var(--green12);
  --color-teal-1: var(--teal1);
  --color-teal-2: var(--teal2);
  --color-teal-3: var(--teal3);
  --color-teal-4: var(--teal4);
  --color-teal-5: var(--teal5);
  --color-teal-6: var(--teal6);
  --color-teal-7: var(--teal7);
  --color-teal-8: var(--teal8);
  --color-teal-9: var(--teal9);
  --color-teal-10: var(--teal10);
  --color-teal-11: var(--teal11);
  --color-teal-12: var(--teal12);
  --color-purple-1: var(--purple1);
  --color-purple-2: var(--purple2);
  --color-purple-3: var(--purple3);
  --color-purple-4: var(--purple4);
  --color-purple-5: var(--purple5);
  --color-purple-6: var(--purple6);
  --color-purple-7: var(--purple7);
  --color-purple-8: var(--purple8);
  --color-purple-9: var(--purple9);
  --color-purple-10: var(--purple10);
  --color-purple-11: var(--purple11);
  --color-purple-12: var(--purple12);
  --color-pink-1: var(--pink1);
  --color-pink-2: var(--pink2);
  --color-pink-3: var(--pink3);
  --color-pink-4: var(--pink4);
  --color-pink-5: var(--pink5);
  --color-pink-6: var(--pink6);
  --color-pink-7: var(--pink7);
  --color-pink-8: var(--pink8);
  --color-pink-9: var(--pink9);
  --color-pink-10: var(--pink10);
  --color-pink-11: var(--pink11);
  --color-pink-12: var(--pink12);
}
